aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aiokafka==0.7.2
aioredis==2.0.1
aiosmtplib==1.1.6
anyio==3.5.0
APScheduler==3.9.1
asgiref==3.4.1
async-timeout==3.0.1
asyncio==3.4.3
attrdict==2.0.1
attrs==21.4.0
bcrypt==3.2.0
boto3==1.21.29
botocore==1.24.29
cchardet==2.1.7
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
ciso8601==2.2.0
click==7.1.2
colorclass==2.2.2
colorlog==6.6.0
configloader==1.0.1
confluent-kafka==1.8.2
croniter==1.2.0
cryptography==36.0.1
Cython==0.29.26
dependency-injector==4.38.0
faust-streaming==0.6.9
faust-streaming-rocksdb==0.8.0
funccacher==0.18.10
greenlet==1.1.2
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==2.10
infi.clickhouse-orm==2.1.1
iniconfig==1.1.1
invoke==1.6.0
iso8601==1.0.2
itsdangerous==2.1.1
jmespath==1.0.0
jwt==1.3.1
kafka-python==2.0.2
Mako==1.1.6
MarkupSafe==2.0.1
mode-streaming==0.1.0
more-itertools==8.12.0
multidict==5.2.0
mypy-boto3-s3==1.21.27.post1
mypy-extensions==0.4.3
opentracing==2.4.0
orjson==3.6.5
packaging==21.3
pluggy==0.13.1
prometheus-client==0.11.0
py==1.11.0
pycares==4.1.2
pycparser==2.21
pycryptodome==3.10.4
pydantic==1.9.0
pyhumps==3.5.3
PyJWT==2.3.0
pyparsing==3.0.7
pytest==5.3.1
python-dateutil==2.8.1
python-rocksdb==0.7.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.4.1
rarfile==4.0
redis==3.5.0
requests==2.25.1
rfc3986==1.5.0
s3transfer==0.5.2
setproctitle==1.2.2
simple-storage==1.0.0
six==1.15.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.17.1
starlette-exporter==0.12.0
terminaltables==3.1.10
toml==0.10.2
typing-extensions==4.1.1
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.3
uvicorn==0.17.0
uvloop==0.16.0
venusian==3.0.0
wcwidth==0.2.5
yarl==1.7.2
